.full-window{
    display: flex;
    margin-top: 20px;
    
}

.menu-panel{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.matrix-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-container{
    display: flex;
    height: 40vh;
}

.matrix-box {
    border-color: aqua;
    border-width: 15px;
    border-style: ridge;
    flex-grow: 1;
    max-width: 40vw;    
}