html {
  background-color: maroon;
  height: 100vh;
}

body {
  background-color: maroon;
}

.full-window {
  display: flex;
  margin-top: 20px;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 40px;
}

button{
    margin: 5px;
}

.matrix-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.row-container {
  display: flex;
  height: 40vh;
}

.matrix-box {
  border-color: goldenrod;
  border-width: 15px;
  border-style: ridge;
  flex-grow: 1;
  max-width: 45vw;
  overflow-y: auto;
}

.strikethrough {
  text-decoration: line-through;
  color: red;
}

.active {
  color: green;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input {
  width: 90%;
}

input[type=text]:focus {
    border: 5px solid #555;
  }

  h2{
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: black;
  }

  #title{
      max-width: 50%;
      position: relative;
    left: 24%;
  }
   